/* ArticlesList.css */
:root {
  --article-bg-light: #f3f3f3;
  --article-bg-dark: #333;
}

.articles-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

@media (max-width: 768px) {
  .articles-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust columns for smaller screens */
    gap: 10px; /* Adjust gap for smaller screens */
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --article-bg-light: #f3f3f3;
    --article-bg-dark: #333;
  }

  .articles-grid {
    background-color: #333; /* Set background color for dark mode */
  }
}

.articles-card {
  background-color: #f3f3f3; /* Default background color */
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.articles-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(144, 215, 37, 0.417);
}

  