/* ArticleCard.css */
:root {
  --article-bg-light: #f3f3f3;
  --article-bg-dark: #333;
  --article-text-light: #333;
  --article-text-dark: #f3f3f3;
  --article-link-light: #007bff;
  --article-link-dark: #61dafb;
}


.article-card {
  position: relative;
  margin-bottom: 20px;
  width: calc(100% - 20px); /* Full width minus margins */
  height: auto; /* Let the height adjust according to content */
  background-color: var(--article-bg-light); /* Default background color */
  color: var(--article-text-light); /* Default text color */
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.article-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(144, 215, 37, 0.417);
}

.article-title {
  margin: 0;
  padding: 10px;
  font-size: 18px; /* Adjust font size */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.article-img {
  margin-top: 10px;
  text-align: center;
}

.article-img img {
  max-width: 100%; /* Adjust image size */
  height: auto;
  border-radius: 10px; /* Adjust border radius */
}

.article-info {
  padding: 10px;
  font-size: 14px;
}

.article-info span {
  margin-right: 10px;
}

.read-more {
  font-size: 14px;
  color: var(--article-link-light); /* Default link color */
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}

/* Media query for larger screens */
@media (min-width: 768px) {
  .article-card {
    width: calc(50% - 20px); /* Two columns with some margin */
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --article-bg-light: #f3f3f3;
    --article-bg-dark: #333;
    --article-text-light: #333;
    --article-text-dark: #f3f3f3;
    --article-link-light: #007bff;
    --article-link-dark: #61dafb;
  }

  .article-card {
    background-color: var(--article-bg-dark);
    color: var(--article-text-dark);
  }

  .read-more {
    color: var(--article-link-dark);
  }
}





