/* ArticleCard.css */
.article-card {
  position: relative;
  margin-bottom: 20px;
  width: 1280px; /* Increase width */
  height: 230px; /* Increase height */
  background-color: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.article-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(144, 215, 37, 0.417);
}

.article-title {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  margin: 0;
  padding: 10px;
  font-size: 20px; /* Adjust font size */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.article-img {
  position: absolute;
  top: 50%;
  right: -90px; /* Align to the right */
  transform: translate(-50%, -50%);
}

.article-img img {
  width: 250px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px; /* Adjust border radius */
}

.article-info {
  position: absolute;
  bottom: 10px;
  left: 90px;
  font-size: 16px;
  color: #666;
  
}

.article-info span {
  margin-right: 20px; /* Add space between author and published */
}

.read-more {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}




