/* Header.css */
.navbar {
    background-color: #33333348; /* Background color of the navbar */
    color: #594b4b; /* Text color */
    padding: 5px 245px; /* Padding around the navbar */
    display:flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center vertically */
    border-radius: 20px;
   
  }
  
  .nav-links {
    list-style-type: none; /* Remove default list style */
    margin: 0px; /* Remove default margin */
    padding: 0px; /* Remove default padding */
  }
  
  .nav-links li {
    display: inline; /* Display navigation links inline */
    margin-right: 20px; /* Add some spacing between links */
  }
  
  .nav-links li:last-child {
    margin-right: 0; /* Remove right margin from the last link */
  }
  
  .nav-links li a {
    text-decoration: none; /* Remove underline */
    color: #594b4b; /* Link text color */
  }
  
  .nav-links li a:hover {
    text-decoration: underline; /* Underline on hover */
  }
  
  .user {
    margin-left: auto; /* Push username to the right */
  }
  
  .describe {
    text-align: center; /* Center align the description */
    margin-top: 20px; /* Add some top margin */
  }
  .NC{
    margin-top: -60px; /* Add some top margin */
    margin-bottom: -60px; /* Add some top margin */
  }
  .logo {
    width: 500px; /* Fixed width */
    height: 10px; /* Adjust height as needed */
    border-radius: 50px; /* Adjust border radius */
  }
  